{% extends "base.html" %}
{% block PageTitle%}Development | SMP{% endblock %}

{% block Content %}

<div class="banner">
    <img src="{{ url_for('static', filename='LOGO_2.png')}}" width="100%" height="500px">
</div>

<div class="card">
    <div class="card-header">
      11:00 pm I Sunday - 5/11/23 I Version 1.0-PUBLIC
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Deployed website to the public and finished the pages: Apply, About, IP, Seasons & Development.</p>
        <footer class="blockquote-footer">Developer: <cite title="Source Title">FriedToastMC</cite></footer>
      </blockquote>
    </div>
</div>

{% endblock %}